# Python virtual environment
.venv/
**/__pycache__/

# CDK output
cdk.out/
cdk/.venv/
cdk/.pytest_cache/

# IDE specific folders
.kiro/
.amazonq/
.vscode/
.idea/

# macOS specific files
.DS_Store

# AWS credentials and local config
.aws/
*.pem